params {
    config_profile_contact = 'Adrija Kalvisa <adrija.kalvisa@sund.ku.dk>'
    config_profile_description = 'dancmp01fl configuration'

    // General cpus/memory/time requirements
    max_cpus = 8
    max_memory = 64.GB
    max_time = 72.h
}

process {
    // See ku_sund_danhead docs to see how to run pipelines on a specific compute node (i.e., dancmpn01fl)
    executor = 'slurm'
    clusterOptions = '-w $SLURMD_NODENAME'

    withLabel: 'process_high' {
        memory = 128.GB
    }

}

executor {
  //The total number of CPUs will be max_cpus * queueSize
  queueSize = 5
}

singularity {
    enabled = true
    autoMounts = true
    runOptions = '--bind /projects:/projects --bind /maps:/maps'
}
